textarea
{
  width:100%;
}

ion-title{
    font-size:100%;
}

ion-input{
    font-size: 100%;
    border-color: black;
}

.alerta{
  font-size: 100%;
  color:black;
  background:lightsalmon;
  border-color: black;
  margin-bottom: 5px;
}

.mensajeError{
  padding: 3px;
}

